<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    
    <form action="{% url 'Account:change_password' %}" method="post" id="change_form">
        {% csrf_token %}
        <input type="password" name="current_password" id="current_pass" placeholder="Current Password">
        <input type="password" name="new_password" id="new_pass" placeholder="New Password">
        <input type="password" name="confirm_new_password" id="confirm_new_pass" placeholder="Confirm New Password">

        <button>Change</button>
    </form>

</body>

<script>

    var form = document.getElementById("change_form");
    form.onsubmit = () => {
        var new_pass = form.getElementById("new_pass");
        var confirm_new_pass = form.getElementById("confirm_new_pass");
        if (new_pass.value == confirm_new_pass.value){
            alert("password is Ok");
        }
        else{
            alert("password is not Ok");
        }
    }

</script>

</html>